<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/css/modelo.css" />
        <link rel='shortcut icon' type='image/x-icon' href='/static/css/favicon/favicon.ico' />
        
        <title>Sangue Voluntário</title>
    </head>
    
<body id="principal">
    
<br>
<br>
<h1> SOBRE ESTE PROJETO: </h1>
<br>
<br>
<p> Este é um projeto voluntário e colaborativo de </p>
<p> estudantes do Eixo de Computação da UNIVESP</p>
<p> UNIVERSIDADE VIRTUAL DO ESTADO DE SAO PAULO</p>
<p> Uma iniciativa pública junto ao HEMOCENTRO.
<p>Um reconhecimento de uma causa tão nobre</p> 
<p>que é o Ato de Doação de Sangue.</p>
<p>Marilia, 2022.</p>
<br>
<br>
    <h1 id="hora"></h1>
       <footer><a href="/views/home.html">Home</a></footer>
</body>
</html>