<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/css/modelo.css"/>
        <link rel='shortcut icon' type='image/x-icon' href='/static/css/favicon/favicon.ico' />
        
        <title>Sangue Voluntário</title>
    </head>

<!-- Corpo da página -->    
<body class="principal">
    
    <div id="principal">
        <div class="container">
            
            <div class="box">
                
                <div class="box1">
                    <a class="box-link" href="./informacoes"></a>
                                                                      
                </div>
            

                <div class="box2">
                    <a class="box-link" href="./cadastro"></a>
                      
                </div>
                
                <div class="box3">  
                    <a class="box-link" href="./acesse"></a>
                      

                </div>

            </div> 
            </div>
    </div>
    
    <script src="/script/home.js"></script>
 </body>
</html>