<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/css/modelo.css" />
        <link rel='shortcut icon' type='image/x-icon' href='/static/css/favicon/favicon.ico' />
        
        <title>Sangue Voluntário</title>
    </head>
    
<body id="principal">
    
<br>
<br>
<h1> VOCÊ FOI DESCONECTADO. </h1>
<br>
<br>

    
       <footer><a href="/views/home.html">Home</a></footer>
</body>
</html>